h2{
    margin-bottom: 20px;
}

p{
    font-size: 14px;
    padding: 15px 0;
}
p img{
    max-width: 1000px;
}
a{
    font-size: 14px;
    color: #08c;
    text-decoration: none;
}
pre{
    word-break: initial;
    white-space: pre-wrap;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
pre code{
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    width: 100%;
    margin-bottom: 20px;
}
table th, table td {
    font-size: 14px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table th{
    border-top: none;
}