body{
    background-color: #f6f8f9;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.header{
  height: 80px;
    line-height: 80px;
    background: #fff;
    box-shadow: 1px 0px 10px rgba(0,0,0,.05);
}
.header img{
    height: 60px;
}
#content {
    margin-top: 50px;
    background: #fff;
    box-shadow: 1px 0px 10px rgba(0,0,0,.05);
}
#content .container_bd{

}
#content .left{
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
    padding-bottom: 100px;
    box-sizing: border-box;
   /* float: left;*/
    border-right: 1px solid #ececec;

    width: 17.5%;
}
#content .left>ul{


}
#content .left>ul>li>p {
    position: relative;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border-bottom: 1px solid #ececec;
}
#content .left>ul>li>p>i{
    position: absolute;
    background: url("../img/xsj.png") no-repeat;
   width: 8px;
    height: 5px;
    top:18px;
    right: 10px;
}
#content .left>ul>li>p>i.open{
    background: url("../img/xsj.png") no-repeat 0 -6px;
}

#content .left>ul>li>ol{
    display: block;

}
#content .left>ul>li>ol>li{
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #666;
}
#content .left>ul>li>ol>li:hover{
    background: #f4f5f9;
    color: #666;
}
#content .left>ul>li>ol>li.select{
    color: #fff;
    background: #1a598c;

}

#content .container_hd{
    padding-left: 30px;
    border-bottom: 1px solid #ececec;
    height: 60px;
    line-height: 60px;
}
#content .right{
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
    box-sizing: border-box;
    padding: 30px 50px;
   /* float: right;*/
    width: 2000px;

}
#content .right iframe{
    width: 100%;
    height: 100%;
}
#bottom{
    margin-top: 100px;
    border-top: 1px solid #ececec;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
}