body, div, h1, h2, h3, h4, h5, h6, ul,ol,  li,  p {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: "Microsoft YaHei" !important;


    user-select: none;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, b{
    font-weight: 500;
}

img {
    vertical-align: middle;
    border: none;
}
img, input, select, textarea {
    vertical-align: middle;
    outline: none;
}

.clear {
    zoom: 1;
}
.clear:after {
    display: block;
    content: "";
    clear: both;
}
/*::-webkit-scrollbar{width:1px;}*/
/*以上为重置样式*/

